<h3>Dang khoa hoc</h3>

<form method="POST" action="/courses/store">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input input="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input input="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
        <label for="videoID" class="form-label">Video ID</label>
        <input input="text" class="form-control" id="videoID" name="videoID">
    </div>

    <button type="submit" class="btn btn-primary">Dang</button>
</form>