<h1>welcome to {{course.name}} - detail</h1>

<h2>Description</h2>
<p>{{course.description}}</p>
<img src="{{course.thumbnail}}" alt="Anh khoa hoc" width="200px">
<br>
<br>
<iframe width="782" height="440" src="https://www.youtube.com/embed/{{course.videoID}}?list=PL_-VfJajZj0VatBpaXkEHK_UPHL7dW6I3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
