<div class="mt-4">
    <form method="POST" action="/search">
        <div class="form-group">
            <label for="search-label">Type to search</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Keywords">
        </div>

        <select name="gender" id="gender-input" class="form-group form-control">
            <option value="male">Nam</option>
            <option value="female">Nu</option>
        </select>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>